* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Inter', sans-serif;
}

.App {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.Container {
  background-color: #3e4656;
  height: 90vh;
  width: 25%;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* TOP */

.Top {
  height: 50%;
  text-align: center;
  margin-bottom: 10px;
}

img {
  width: 100%;
  height: 70%;
  border-radius: 10px 10px 0 0;
}

.top--Title {
  font-size: 2rem;
  color: white;
  margin-bottom: 2px;
}

.top--UnderTitle {
  font-size: 1rem;
  color: goldenrod;
  margin-bottom: 5px;

}

.top--Website {
  font-size: 0.8rem;
  color: whitesmoke;
  margin-bottom: 10px;
}

.top--Btn {
  width: 90%;
  height: 40px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  background-color: white;
}

.top--Btn > a {
  color: black;
}


/* MIDDLE PAGE */

.Mid {
  height: 40%;
  padding: 20px;
  margin-top: 40px;
  text-align: left;
  color: white;
}

.mid--Titles {
  /* text-align: left; */
  padding: 2px;
}

.mid--Paragraph {
  /* text-align: center; */
  padding: 2px;
}

/* BOTTOM PAGE */

.Bot {
  background-color: black;
  height: 5%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Bot > .material-icons {
  color: white;
  margin: 0 10px;
}
