* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.App {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.Container {
  background-color: #3e4656;
  height: 90vh;
  width: 25%;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* TOP */

.Top {
  height: 40%;
  text-align: center;
}

img {
  width: 100%;
  height: 70%;
  border-radius: 10px 10px 0 0;
}

.top--Title {
  font-size: 2rem;
}

.top--UnderTitle {
  font-size: 1rem;
}

.top--Website {
  font-size: 0.8rem;
}

.top--Btn {
  width: 90%;
}

/* MIDDLE PAGE */

.Mid {
  height: 40%;
  text-align: center;
}

.mid--Titles {
}

.mid--Paragraph {
}

/* BOTTOM PAGE */

.Bot {
  background-color: black;
  height: 5%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.bot--Icon {
}
